n8n-workflows/analyze_repo.json
{
  "name": "Branchy - Repo Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-repo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3a1b2c4-0001-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Webhook - Start Analysis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [140, 300],
      "webhookId": "branchy-analyze-main"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst crypto = require('crypto');\nconst jobId = crypto.randomUUID();\n\nlet repoUrl = body.repoUrl || '';\nlet repoName = body.repoName || '';\nlet owner = body.owner || '';\nconst token = body.token || '';\n\n// Auto-extract owner/repoName from URL if not provided\nif (repoUrl && (!repoName || !owner)) {\n  const match = repoUrl.match(/github\\.com\\/([^\\/]+)\\/([^\\/]+)/);\n  if (match) {\n    owner = owner || match[1];\n    repoName = repoName || match[2].replace(/\\.git$/, '');\n  }\n}\n\nif (!repoName || !owner) {\n  throw new Error('Missing required fields: owner and repoName (or valid GitHub repoUrl)');\n}\n\nreturn [{\n  json: {\n    jobId,\n    repoUrl: repoUrl || `https://github.com/${owner}/${repoName}`,\n    repoName,\n    owner,\n    token,\n    startedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "f3a1b2c4-0002-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "Job",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.jobId }}" },
            { "fieldId": "status", "fieldValue": "PENDING" },
            { "fieldId": "repoUrl", "fieldValue": "={{ $json.repoUrl }}" },
            { "fieldId": "repoName", "fieldValue": "={{ $json.repoName }}" },
            { "fieldId": "owner", "fieldValue": "={{ $json.owner }}" }
          ]
        }
      },
      "id": "f3a1b2c4-0003-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Create Job [PENDING]",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [580, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ jobId: $('Extract Input').item.json.jobId, status: 'PENDING', message: 'Repository analysis started successfully' }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "f3a1b2c4-0004-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Job",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $('Extract Input').item.json.jobId }}" },
            { "fieldId": "status", "fieldValue": "RUNNING" }
          ]
        }
      },
      "id": "f3a1b2c4-0005-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Update Job [RUNNING]",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1020, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extract Input').item.json.owner }}/{{ $('Extract Input').item.json.repoName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Extract Input').item.json.token }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "Branchy-io-Analyzer/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f3a1b2c4-0006-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Get Repo Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extract Input').item.json.owner }}/{{ $('Extract Input').item.json.repoName }}/git/trees/HEAD?recursive=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Extract Input').item.json.token }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "Branchy-io-Analyzer/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f3a1b2c4-0007-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Get File Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extract Input').item.json.owner }}/{{ $('Extract Input').item.json.repoName }}/contents/package.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Extract Input').item.json.token }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "Branchy-io-Analyzer/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f3a1b2c4-0008-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Get package.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extract Input').item.json.owner }}/{{ $('Extract Input').item.json.repoName }}/contents/README.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Extract Input').item.json.token }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "Branchy-io-Analyzer/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f3a1b2c4-0009-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Get README.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Extract Input').item.json;\nconst repoInfo = $('Get Repo Info').item.json;\nconst treeData = $('Get File Tree').item.json;\n\n// Safely decode package.json (base64)\nlet packageJsonStr = '{}';\ntry {\n  const pkgNode = $('Get package.json').item.json;\n  if (pkgNode && pkgNode.content) {\n    packageJsonStr = Buffer.from(pkgNode.content, 'base64').toString('utf8').substring(0, 2500);\n  }\n} catch(e) { packageJsonStr = '{}'; }\n\n// Safely decode README.md (base64)\nlet readmeStr = 'No README found.';\ntry {\n  const readmeNode = $('Get README.md').item.json;\n  if (readmeNode && readmeNode.content) {\n    readmeStr = Buffer.from(readmeNode.content, 'base64').toString('utf8').substring(0, 3000);\n  }\n} catch(e) { readmeStr = 'No README found.'; }\n\n// Process file tree\nconst tree = Array.isArray(treeData.tree) ? treeData.tree.filter(f => f.type === 'blob') : [];\nconst total = tree.length;\nconst sourceExts = ['.ts', '.tsx', '.js', '.jsx', '.py', '.go', '.java', '.rs', '.rb', '.php', '.cs', '.cpp', '.c', '.vue', '.svelte'];\nconst sourceFiles = tree.filter(f => {\n  const p = f.path.toLowerCase();\n  return sourceExts.some(ext => p.endsWith(ext)) &&\n    !p.includes('node_modules/') && !p.includes('vendor/') &&\n    !p.includes('dist/') && !p.includes('build/') &&\n    !p.includes('.min.') && !p.includes('__pycache__') &&\n    !p.includes('.test.') && !p.includes('.spec.');\n}).slice(0, 120);\n\n// Group by top-level directory for module detection\nconst moduleMap = {};\nsourceFiles.forEach(f => {\n  const top = f.path.includes('/') ? f.path.split('/')[0] : 'root';\n  if (!moduleMap[top]) moduleMap[top] = [];\n  moduleMap[top].push(f.path);\n});\n\nconst now = new Date().toISOString();\nconst lang = repoInfo.language || 'Unknown';\nconst desc = repoInfo.description || 'No description available.';\nconst fileListStr = sourceFiles.map(f => f.path).join('\\n').substring(0, 5000);\n\nconst systemPrompt = 'You are an expert software architect analyzing GitHub repositories for Branchy.io, a code architecture visualization and health analysis platform. Return ONLY valid raw JSON matching the exact schema provided — no markdown, no explanations, no code fences.';\n\nconst userPrompt = `Analyze this repository and return a JSON object matching EXACTLY the schema below.\\n\\n## Repository Information\\n- Name: ${input.repoName}\\n- Owner: ${input.owner}\\n- URL: ${input.repoUrl}\\n- Description: ${desc}\\n- Primary Language: ${lang}\\n- Stars: ${repoInfo.stargazers_count || 0}\\n- Forks: ${repoInfo.forks_count || 0}\\n- Default Branch: ${repoInfo.default_branch || 'main'}\\n- Total Files: ${total}\\n- Source Files (filtered): ${sourceFiles.length}\\n\\n## package.json\\n${packageJsonStr}\\n\\n## README.md\\n${readmeStr}\\n\\n## Module/Directory Map\\n${JSON.stringify(moduleMap, null, 2).substring(0, 3500)}\\n\\n## Source File Paths\\n${fileListStr}\\n\\n## Return this exact JSON structure (replace placeholder values with real analysis):\\n{\\n  \"repoId\": \"${input.jobId}\",\\n  \"repoName\": \"${input.repoName}\",\\n  \"owner\": \"${input.owner}\",\\n  \"language\": \"<primary language>\",\\n  \"filesCount\": ${total},\\n  \"healthScore\": 0,\\n  \"analyzedAt\": \"${now}\",\\n  \"modules\": [\\n    {\\n      \"id\": \"module-slug\",\\n      \"name\": \"Module Name\",\\n      \"type\": \"core\",\\n      \"filePath\": \"src/index.ts\",\\n      \"loc\": 120,\\n      \"dependsOn\": [],\\n      \"usedBy\": [],\\n      \"summary\": \"Brief one-sentence description\"\\n    }\\n  ],\\n  \"insights\": [\\n    { \"type\": \"info\", \"text\": \"Insight text\", \"fileName\": \"file.ts\" }\\n  ],\\n  \"complexityByFile\": [\\n    { \"fileName\": \"file.ts\", \"filePath\": \"src/file.ts\", \"complexity\": 40, \"level\": \"medium\" }\\n  ],\\n  \"circularDeps\": [\\n    { \"id\": \"cycle-1\", \"chain\": [\"moduleA\", \"moduleB\", \"moduleA\"] }\\n  ],\\n  \"deadCode\": [\\n    { \"id\": \"dead-1\", \"moduleName\": \"OldUtil\", \"type\": \"function\", \"lastModified\": \"${now}\", \"linesCount\": 45, \"filePath\": \"src/utils/old.ts\" }\\n  ],\\n  \"onboardingGuide\": {\\n    \"sections\": [\\n      { \"title\": \"Project Overview\", \"type\": \"overview\", \"content\": \"<overview text>\" },\\n      { \"title\": \"Tech Stack\", \"type\": \"techStack\", \"content\": { \"frontend\": [], \"backend\": [], \"database\": [], \"devtools\": [] } },\\n      { \"title\": \"Project Structure\", \"type\": \"structure\", \"content\": \"<structure explanation>\" },\\n      { \"title\": \"Key Modules\", \"type\": \"modules\", \"content\": \"<modules overview>\" },\\n      { \"title\": \"Getting Started\", \"type\": \"gettingStarted\", \"content\": \"<setup steps>\" },\\n      { \"title\": \"Code Patterns\", \"type\": \"patterns\", \"content\": \"<architectural patterns>\" },\\n      { \"title\": \"Running Locally\", \"type\": \"runLocally\", \"content\": { \"steps\": [\"Clone the repository\", \"Install dependencies\"], \"commands\": [\"npm install\", \"npm run dev\"] } }\\n    ],\\n    \"generatedAt\": \"${now}\"\\n  },\\n  \"healthReport\": {\\n    \"overallScore\": 0,\\n    \"maintainability\": 0,\\n    \"testCoverage\": 0,\\n    \"documentation\": 0,\\n    \"issues\": [\\n      {\\n        \"id\": \"issue-1\",\\n        \"severity\": \"warning\",\\n        \"fileName\": \"file.ts\",\\n        \"filePath\": \"src/file.ts\",\\n        \"title\": \"Issue title\",\\n        \"description\": \"What the issue is\",\\n        \"suggestedFix\": \"How to fix it\",\\n        \"resolved\": false\\n      }\\n    ]\\n  },\\n  \"changelogs\": []\\n}\\n\\nRules:\\n1. Generate 6-20 realistic modules reflecting actual directory structure\\n2. Generate 5-12 insights mixing warning/success/info/error types\\n3. complexityByFile: list 5-15 files with estimated complexity\\n4. circularDeps: detect if import patterns suggest cycles (empty array if none)\\n5. deadCode: identify 2-5 potentially unused items (empty array if none)\\n6. All numeric scores must be integers 0-100\\n7. onboardingGuide must contain ALL 7 section types\\n8. healthReport.issues: 3-8 real actionable issues\\n9. Return ONLY raw valid JSON — no markdown, no code fences, no explanation text`;\n\nreturn [{\n  json: {\n    jobId: input.jobId,\n    repoUrl: input.repoUrl,\n    repoName: input.repoName,\n    owner: input.owner,\n    language: lang,\n    filesCount: total,\n    requestBody: {\n      model: 'claude-opus-4-6',\n      max_tokens: 8192,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n}];"
      },
      "id": "f3a1b2c4-0010-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "f3a1b2c4-0011-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2340, 300]
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare AI Prompt').item.json;\nconst claudeResp = $input.first().json;\nlet analysisResult = null;\nlet success = false;\nlet errorMsg = '';\n\ntry {\n  // Check for API-level errors\n  if (claudeResp.error) {\n    throw new Error('Anthropic API error: ' + (claudeResp.error.message || JSON.stringify(claudeResp.error)));\n  }\n\n  const content = claudeResp.content;\n  if (!Array.isArray(content) || content.length === 0) {\n    throw new Error('Empty or unexpected response structure from Claude API');\n  }\n\n  const textBlock = content.find(c => c.type === 'text');\n  if (!textBlock || !textBlock.text) {\n    throw new Error('No text content in Claude API response');\n  }\n\n  // Strip markdown code fences if present\n  let jsonStr = textBlock.text.trim();\n  jsonStr = jsonStr.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\n  analysisResult = JSON.parse(jsonStr);\n\n  // Enforce required fields\n  analysisResult.repoId = analysisResult.repoId || prepared.jobId;\n  analysisResult.repoName = analysisResult.repoName || prepared.repoName;\n  analysisResult.owner = analysisResult.owner || prepared.owner;\n  analysisResult.language = analysisResult.language || prepared.language || 'Unknown';\n  analysisResult.filesCount = analysisResult.filesCount || prepared.filesCount || 0;\n  analysisResult.healthScore = Number(analysisResult.healthScore) || 0;\n  analysisResult.analyzedAt = analysisResult.analyzedAt || new Date().toISOString();\n  analysisResult.modules = Array.isArray(analysisResult.modules) ? analysisResult.modules : [];\n  analysisResult.insights = Array.isArray(analysisResult.insights) ? analysisResult.insights : [];\n  analysisResult.complexityByFile = Array.isArray(analysisResult.complexityByFile) ? analysisResult.complexityByFile : [];\n  analysisResult.circularDeps = Array.isArray(analysisResult.circularDeps) ? analysisResult.circularDeps : [];\n  analysisResult.deadCode = Array.isArray(analysisResult.deadCode) ? analysisResult.deadCode : [];\n  analysisResult.changelogs = Array.isArray(analysisResult.changelogs) ? analysisResult.changelogs : [];\n\n  if (!analysisResult.onboardingGuide || !Array.isArray(analysisResult.onboardingGuide.sections)) {\n    analysisResult.onboardingGuide = { sections: [], generatedAt: new Date().toISOString() };\n  }\n\n  if (!analysisResult.healthReport || typeof analysisResult.healthReport.overallScore === 'undefined') {\n    analysisResult.healthReport = {\n      overallScore: analysisResult.healthScore || 70,\n      maintainability: 70,\n      testCoverage: 0,\n      documentation: 50,\n      issues: []\n    };\n  } else {\n    analysisResult.healthReport.issues = Array.isArray(analysisResult.healthReport.issues)\n      ? analysisResult.healthReport.issues\n      : [];\n  }\n\n  success = true;\n\n} catch(e) {\n  errorMsg = e.message;\n  // Minimal valid fallback so the job still saves\n  analysisResult = {\n    repoId: prepared.jobId,\n    repoName: prepared.repoName,\n    owner: prepared.owner,\n    language: prepared.language || 'Unknown',\n    filesCount: prepared.filesCount || 0,\n    healthScore: 0,\n    analyzedAt: new Date().toISOString(),\n    modules: [],\n    insights: [{ type: 'error', text: 'Analysis failed: ' + errorMsg }],\n    complexityByFile: [],\n    circularDeps: [],\n    deadCode: [],\n    changelogs: [],\n    onboardingGuide: { sections: [], generatedAt: new Date().toISOString() },\n    healthReport: { overallScore: 0, maintainability: 0, testCoverage: 0, documentation: 0, issues: [] }\n  };\n}\n\nreturn [{\n  json: {\n    jobId: prepared.jobId,\n    analysisResult,\n    success,\n    errorMsg\n  }\n}];"
      },
      "id": "f3a1b2c4-0012-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Build AnalysisResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f3a1b2c4-0013-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Analysis Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2780, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Job",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.jobId }}" },
            { "fieldId": "status", "fieldValue": "COMPLETED" },
            { "fieldId": "analysisResult", "fieldValue": "={{ $json.analysisResult }}" }
          ]
        }
      },
      "id": "f3a1b2c4-0014-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Update Job [COMPLETED]",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3000, 180],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Job",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.jobId }}" },
            { "fieldId": "status", "fieldValue": "FAILED" },
            { "fieldId": "analysisResult", "fieldValue": "={{ $json.analysisResult }}" }
          ]
        }
      },
      "id": "f3a1b2c4-0015-4e5f-8a9b-aaaaaaaaaaaa",
      "name": "Update Job [FAILED]",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3000, 420],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Start Analysis": {
      "main": [
        [{ "node": "Extract Input", "type": "main", "index": 0 }]
      ]
    },
    "Extract Input": {
      "main": [
        [{ "node": "Create Job [PENDING]", "type": "main", "index": 0 }]
      ]
    },
    "Create Job [PENDING]": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [{ "node": "Update Job [RUNNING]", "type": "main", "index": 0 }]
      ]
    },
    "Update Job [RUNNING]": {
      "main": [
        [{ "node": "Get Repo Info", "type": "main", "index": 0 }]
      ]
    },
    "Get Repo Info": {
      "main": [
        [{ "node": "Get File Tree", "type": "main", "index": 0 }]
      ]
    },
    "Get File Tree": {
      "main": [
        [{ "node": "Get package.json", "type": "main", "index": 0 }]
      ]
    },
    "Get package.json": {
      "main": [
        [{ "node": "Get README.md", "type": "main", "index": 0 }]
      ]
    },
    "Get README.md": {
      "main": [
        [{ "node": "Prepare AI Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [{ "node": "Call Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Call Claude API": {
      "main": [
        [{ "node": "Build AnalysisResult", "type": "main", "index": 0 }]
      ]
    },
    "Build AnalysisResult": {
      "main": [
        [{ "node": "Analysis Succeeded?", "type": "main", "index": 0 }]
      ]
    },
    "Analysis Succeeded?": {
      "main": [
        [{ "node": "Update Job [COMPLETED]", "type": "main", "index": 0 }],
        [{ "node": "Update Job [FAILED]", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "branchy-analyze-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "branchy-io"
  },
  "id": "branchy-analyze-pipeline-001",
  "tags": [
    { "createdAt": "2026-03-13T00:00:00.000Z", "updatedAt": "2026-03-13T00:00:00.000Z", "id": "tag-branchy", "name": "branchy.io" }
  ],
  "notes": "## Branchy.io - Repo Analysis Pipeline\n\n### Setup Required\n1. **Supabase Credential**: Create a 'Supabase branchy.io' credential (type: Supabase API) with your project URL and service role key.\n2. **Anthropic API Key**: Add an n8n instance variable named `ANTHROPIC_API_KEY` with your Anthropic API key (Settings > Variables).\n3. **Webhook URL**: After activating, update `src/config/webhooks.ts` → `ANALYZE_REPO` with the generated webhook URL.\n\n### Flow\nPOST /analyze-repo → Creates Job (PENDING) → Responds immediately with jobId → Fetches GitHub data → Calls Claude claude-opus-4-6 → Structures AnalysisResult → Updates Job (COMPLETED or FAILED)\n\n### Input\n```json\n{ \"repoUrl\": \"https://github.com/owner/repo\", \"repoName\": \"repo\", \"owner\": \"owner\", \"token\": \"ghp_...\" }\n```\n\n### Output (HTTP 202)\n```json\n{ \"jobId\": \"uuid\", \"status\": \"PENDING\", \"message\": \"Repository analysis started successfully\" }\n```"
}
