n8n-workflows/get_status.json
{
  "name": "Get Analysis Status",
  "nodes": [
    {
      "parameters": {
        "path": "status",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "model": "Job",
        "where": {
          "id": "={{$json.query.jobId}}"
        }
      },
      "id": "prisma_get",
      "name": "Prisma Get Job",
      "type": "n8n-nodes-base.prisma",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prisma Get Job", "type": "main", "index": 0 }]]
    },
    "Prisma Get Job": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
