n8n-workflows/get_status.json
{
  "name": "Branchy - Status & Result Polling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "repo-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Webhook - Get Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [140, 300],
      "webhookId": "branchy-status-main"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst jobId = query.jobId || $input.first().json.jobId || '';\n\nif (!jobId || jobId.trim() === '') {\n  throw new Error('Missing required query parameter: jobId');\n}\n\nreturn [{ json: { jobId: jobId.trim() } }];"
      },
      "id": "b2c3d4e5-0002-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Validate Query Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Job",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.jobId }}"
      },
      "id": "b2c3d4e5-0003-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Query Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [580, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('Validate Query Params').item.json.jobId;\nconst items = $input.all();\n\n// No rows returned = job not found\nif (!items || items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      responseCode: 404,\n      responseBody: JSON.stringify({\n        error: 'Job not found',\n        jobId\n      })\n    }\n  }];\n}\n\nconst job = items[0].json;\n\nconst response = {\n  jobId: job.id,\n  status: job.status,\n  repoName: job.repoName,\n  repoUrl: job.repoUrl,\n  owner: job.owner,\n  createdAt: job.createdAt,\n  updatedAt: job.updatedAt\n};\n\n// Only include analysisResult when COMPLETED\nif (job.status === 'COMPLETED' && job.analysisResult) {\n  response.analysisResult = typeof job.analysisResult === 'string'\n    ? JSON.parse(job.analysisResult)\n    : job.analysisResult;\n}\n\n// Include error hint on FAILED\nif (job.status === 'FAILED') {\n  response.errorHint = 'Analysis failed. Check that the repository is accessible with the provided token and try again.';\n  if (job.analysisResult && job.analysisResult.insights) {\n    const errInsight = job.analysisResult.insights.find(i => i.type === 'error');\n    if (errInsight) response.errorDetail = errInsight.text;\n  }\n}\n\nreturn [{\n  json: {\n    responseCode: 200,\n    responseBody: JSON.stringify(response)\n  }\n}];"
      },
      "id": "b2c3d4e5-0004-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": "={{ $json.responseCode }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "b2c3d4e5-0005-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook - Get Status": {
      "main": [
        [{ "node": "Validate Query Params", "type": "main", "index": 0 }]
      ]
    },
    "Validate Query Params": {
      "main": [
        [{ "node": "Query Job", "type": "main", "index": 0 }]
      ]
    },
    "Query Job": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "branchy-status-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "branchy-io"
  },
  "id": "branchy-status-polling-001",
  "tags": [
    { "createdAt": "2026-03-13T00:00:00.000Z", "updatedAt": "2026-03-13T00:00:00.000Z", "id": "tag-branchy", "name": "branchy.io" }
  ],
  "notes": "## Branchy.io - Status & Result Polling\n\n### Setup Required\n1. **Supabase Credential**: Same 'Supabase branchy.io' credential used in the Analysis Pipeline workflow.\n2. **Webhook URL**: After activating, update `src/config/webhooks.ts` → `GET_STATUS` with the generated webhook URL.\n\n### Usage\nGET /repo-status?jobId=<uuid>\n\n### Responses\n\n**PENDING / RUNNING:**\n```json\n{ \"jobId\": \"uuid\", \"status\": \"RUNNING\", \"repoName\": \"my-repo\", \"owner\": \"owner\", \"createdAt\": \"...\", \"updatedAt\": \"...\" }\n```\n\n**COMPLETED:**\n```json\n{ \"jobId\": \"uuid\", \"status\": \"COMPLETED\", \"repoName\": \"my-repo\", \"analysisResult\": { ...full AnalysisResult... } }\n```\n\n**FAILED:**\n```json\n{ \"jobId\": \"uuid\", \"status\": \"FAILED\", \"errorHint\": \"...\", \"errorDetail\": \"...\" }\n```\n\n**NOT FOUND (404):**\n```json\n{ \"error\": \"Job not found\", \"jobId\": \"uuid\" }\n```\n\n### Frontend polling pattern (branchyStore.ts)\nThe frontend polls this endpoint every 2s. When status === 'COMPLETED', it reads `analysisResult` and stores it in Zustand."
}
