n8n-workflows/get_status.json
{
  "name": "Branchy - Status & Result Polling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "repo-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Webhook - Get Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [140, 300],
      "webhookId": "branchy-status-main"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst jobId = (query.jobId || $input.first().json.jobId || '').trim();\nif (!jobId) throw new Error('Missing required query parameter: jobId');\nreturn [{ json: { jobId } }];"
      },
      "id": "b2c3d4e5-0002-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Validate jobId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Job",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.jobId }}"
      },
      "id": "b2c3d4e5-0003-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Query Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [580, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-branchy-credential",
          "name": "Supabase branchy.io"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('Validate jobId').item.json.jobId;\nconst items = $input.all();\n\nif (!items || items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      responseCode: 404,\n      responseBody: JSON.stringify({ error: 'Job not found', jobId })\n    }\n  }];\n}\n\nconst job = items[0].json;\n\nconst response = {\n  jobId: job.id,\n  status: job.status,\n  repoName: job.repoName,\n  repoUrl: job.repoUrl,\n  owner: job.owner,\n  createdAt: job.createdAt,\n  updatedAt: job.updatedAt\n};\n\nif (job.status === 'COMPLETED' && job.analysisResult) {\n  response.analysisResult = typeof job.analysisResult === 'string'\n    ? JSON.parse(job.analysisResult)\n    : job.analysisResult;\n}\n\nif (job.status === 'FAILED') {\n  response.errorHint = 'Analysis failed. Verify the repo is accessible with the provided token and try again.';\n  try {\n    const ar = typeof job.analysisResult === 'string' ? JSON.parse(job.analysisResult) : job.analysisResult;\n    if (ar && ar.insights) {\n      const errInsight = ar.insights.find(i => i.type === 'error');\n      if (errInsight) response.errorDetail = errInsight.text;\n    }\n  } catch(e) {}\n}\n\nreturn [{\n  json: {\n    responseCode: 200,\n    responseBody: JSON.stringify(response)\n  }\n}];"
      },
      "id": "b2c3d4e5-0004-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": "={{ $json.responseCode }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "b2c3d4e5-0005-4f6a-9b0c-bbbbbbbbbbbb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook - Get Status": {
      "main": [[{ "node": "Validate jobId", "type": "main", "index": 0 }]]
    },
    "Validate jobId": {
      "main": [[{ "node": "Query Job", "type": "main", "index": 0 }]]
    },
    "Query Job": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "branchy-status-v1",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "branchy-status-polling-001",
  "tags": []
}
